In [2]:
import pandas as pd
dataset=pd.read_excel("C:\\Users\\mutth\\OneDrive\\Documents\\Custom Office Templates\\cibil score.xlsx")
dataset.head()

  Customer  Year    Status AccStatus  Score          Loan
0     Ravi  2016     paid   Positive   10.0      Approved
1     Jana  2017  not paid  Negative    9.5      Approved
2    Ranga  2018  not paid  Positive    6.4      Approved
3    ranga  2018     paid   Positive    8.7  Not Approved
4    ravi   2017     paid   Negative    5.3  Not Approved

In [3]:
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

In [4]:
Customer_a=LabelEncoder()
Status_a=LabelEncoder()
AccStatus_a=LabelEncoder()

In [5]:
inputs=dataset.drop("Loan",axis="columns")
target=dataset["Loan"]
target

0         Approved
1         Approved
2         Approved
3     Not Approved
4     Not Approved
5     Not Approved
6         Approved
7     Not Approved
8         Approved
9     Not Approved
10    Not Approved
11        Approved
12        Approved
13        Approved
14    Not Approved
15        Approved
16    Not Approved
17        Approved
18        Approved
Name: Loan, dtype: object

In [6]:
inputs["Customer_a"]=Customer_a.fit_transform(inputs["Customer"])
inputs["Status_a"]=Status_a.fit_transform(inputs["Status"])
inputs["AccStatus_a"]=AccStatus_a.fit_transform(inputs["AccStatus"])
inputs

,Customer,Year,Status,AccStatus,Score,Customer_a,Status_a,AccStatus_a
0,Ravi,2016,paid,Positive,10.0,2,1,1
1,Jana,2017,not paid,Negative,9.5,0,0,0
2,Ranga,2018,not paid,Positive,6.4,1,0,1
3,ranga,2018,paid,Positive,8.7,4,1,1
4,ravi,2017,paid,Negative,5.3,6,1,0
5,jana,2016,paid,Positive,5.0,3,1,1
6,Ranga,2016,not paid,Negative,7.0,1,0,0
7,Jana,2016,paid,Positive,7.2,0,1,1
8,ravi,2018,not paid,Negative,8.1,5,0,0
9,ravi,2017,paid,Negative,9.9,5,1,0
10,Ranga,2017,not paid,Positive,10.0,1,0,1
11,Jana,2017,not paid,Positive,10.0,0,0,1
12,Jana,2016,not paid,Negative,7.6,0,0,0
13,ranga,2018,paid,Negative,5.2,4,1,0
14,ravi,2018,paid,Positive,6.6,5,1,1
15,ranga,2017,not paid,Positive,9.1,4,0,1
16,jana,2016,paid,Negative,5.8,3,1,0
17,ravi,2016,paid,Negative,5.5,5,1,0
18,ranga,2017,not paid,Positive,6.0,4,0,1

In [7]:
inputs2=inputs.drop(["Customer","Year","Status","AccStatus","Score"],axis="columns")
inputs2

    Customer_a  Status_a  AccStatus_a
0            2         1            1
1            0         0            0
2            1         0            1
3            4         1            1
4            6         1            0
5            3         1            1
6            1         0            0
7            0         1            1
8            5         0            0
9            5         1            0
10           1         0            1
11           0         0            1
12           0         0            0
13           4         1            0
14           5         1            1
15           4         0            1
16           3         1            0
17           5         1            0
18           4         0            1

In [8]:
classifier=GaussianNB()
classifier.fit(inputs2,target)

GaussianNB()

In [9]:
classifier.predict([[5,0,0]])

C:\Users\mutth\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array(['Approved'], dtype='<U12')

In [10]:
classifier.score(inputs2,target)

0.7894736842105263

In [11]:
import sys
from PyQt5.QtWidgets import QApplication, QWidget, QLabel, QVBoxLayout, QHBoxLayout, QLineEdit, QPushButton

def get_prediction():
    # Get the user input
    customer_type = int(customer_input.text())
    status = int(status_input.text())
    accstatus = int(accstatus_input.text())
    
    # Make the prediction using the classifier
    prediction = classifier.predict([[customer_type, status, accstatus]])
    
    # Update the prediction label with the result
    prediction_label.setText(f"Prediction: {prediction}")

# ... the rest of the code remains the same until the point where the classifier is created

classifier=GaussianNB()
classifier.fit(inputs2,target)

# Create a QWidget and set a layout for it
app = QApplication(sys.argv)
window = QWidget()
window.setWindowTitle("Loan Prediction")  # Set the window title
layout = QVBoxLayout()

# Create a horizontal layout for the input fields and buttons
input_layout = QHBoxLayout()

# Create labels for the input fields
customer_label = QLabel("Customer Type: ")
input_layout.addWidget(customer_label)
status_label = QLabel("Status: ")
input_layout.addWidget(status_label)
accstatus_label = QLabel("AccStatus: ")
input_layout.addWidget(accstatus_label)

# Create a line edit for the customer type input
customer_input = QLineEdit()
input_layout.addWidget(customer_input)

# Create a line edit for the status input
status_input = QLineEdit()
input_layout.addWidget(status_input)

# Create a line edit for the accstatus input
accstatus_input = QLineEdit()
input_layout.addWidget(accstatus_input)

# Create a push button to get the prediction
get_prediction_button = QPushButton("Get Prediction")
get_prediction_button.clicked.connect(get_prediction)
input_layout.addWidget(get_prediction_button)

# Add the input layout to the main layout
layout.addLayout(input_layout)

# Create a label to display the prediction and add it to the layout
prediction_label = QLabel("Prediction: ")
layout.addWidget(prediction_label)

# Set the layout for the widget and show it
window.setLayout(layout)
window.show()

# Run the application's event loop
sys.exit(app.exec_())

C:\Users\mutth\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

SystemExit: 0

C:\Users\mutth\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3377: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)